/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
body {
    background: rgb(20, 20, 20);
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: bold;
    height:100vh;
}
 .calculator{
     background-color: rgb(27,27,27);
     padding:1em;
     border-radius: 2em;
     max-width:60em;
     min-height: 10em;
     min-width: 23em;

 }
 .button_style{
    width: 3em;
    height:3em;
    background-color: rgb(27,27,27);
    color:white;
    font-size:1.5em;
    border-radius:0.5em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-style: none;
 }
 .button_style:hover, :focus{
    background-color: rgb(25, 25, 112);
    transition: 0.5s ease-in-out;
    box-shadow: rgba(25, 25, 112, 0.7) 0px 7px 29px 0px;
    cursor:pointer;
 }
 .screen{
    min-width:3em;
    min-height:2em;
    background-color:  greenyellow;
    border-radius: 1em;
    margin-bottom:0.5em;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:3em;

 }
 .title{
    display:flex;
    justify-content: center;
    text-transform: uppercase;
    color:white;
    margin-bottom:1em;
 }
 .group_father{
    display:grid;
    gap:1em;
 }
 .clear_button{
    min-width: 100%;
 }
 .grid_group{
    display:grid;
    grid-template-columns: 70% 30%;
 }
 .group_buttons{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap:1em;  
 }
 .group_signs {
    display:grid;
    gap:1em;
    place-content: flex-end;
    
 }
 .result_button{
    width:100%;
 }

